<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Here is Your Pig Latinized Text</h1>
    <p><%=@latinized_text%></p>






  </body>
</html>
